* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    height: 100vh;
    
}

button {
    cursor: pointer;
}

.hero {
    /* outline: solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-top: 1rem;
}

.header {
    /* margin-left: 5rem; */
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    /* outline: solid red; */
    font-size: 18px;
    /* margin-right: 4rem; */
    
}


.header-links {
    list-style: none;
    /* outline: solid lightgreen; */
    flex: 1 1 auto;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-two {
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.main {
    display: flex;
    flex-flow: column wrap;
    /* margin-right: 7rem; */
    width: 600px;
}

.main-button {
    background-color: #3882f6;
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    color:#F9FAF8;
    border-style: none;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    display: inline;
    width: 400px;
}

.main-subtext, ul {
    font-size: 18px;
    color: #E5E7Eb;
    margin-bottom: .75rem;
}

.main-image {
    height: 225px;
    width: 600px;
    background-color: #56585e;
    border-radius: 4px;
}

/* information panel styling */

.infocontainer {
    /* outline: black solid; */
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.infopanel {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.infoimages {
    /* outline: solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.infosquares {
    /* outline: solid lightblue; */
    max-width: 200px;
    text-align: center;
}

.info-outline {
    outline: solid #3882f6;
    height: 150px;
    width: 150px;
    margin: 1.5rem;
    border-radius: 10px;
}

/* Quote Section Styling */

.quote-container {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    /* outline: solid black; */
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: normal;
    opacity: .7;
    width: 800px;
}

.quote-author {
    color: #1F2937;
    font-weight: 800;
    margin-left: 500px;
}

/* Call to action Section */

.call-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    /* outline: solid black; */
    background-color: #3882f6;
    display: flex;
    padding: 2rem 6rem;
    border-radius: 5px;
    margin: 5rem;
    gap: 8rem;
}

.call-button {
    height: fit-content;
    width: fit-content;
    flex: 0 1 auto;
    align-self: center;
    border-radius: 4px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: none;
    outline: #F9FAF8 solid 2px;
    padding: .25rem 1.5rem;
}

.call-button:hover {
    background-color: #F9FAF8;
    color: #3882f6;
}

.call-text {
    color: #F9FAF8;
}

.call-header {
    font-weight: 800;
}